/* mobile */
@media(max-width:46.1875em)
{   .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    #main{
        width: 100%;

    }
    #header{
      width: 100%;
        overflow: hidden;
    }
    #header .mmobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav {
        /*  kế thừa chiều ngang và hiện*/
        display: block;
    }
    #nav li a{
                 padding: 1px 24px ;
    }
    #nav .subnav{
        /* display: block; */
        position:initial;
        background-color: #333;
            }
     #nav .subnav a{
                color: #fff;
                padding: 5px 41px;
 }
    #nav >li {
        display: block;
        
    }
    /*  lấy thẻ i đầu tiên */
    #nav >li:first-child {
        display:inline-block;
        
    }
    
  /* #content .member-item{
      margin-top: 30px;
      width: 100%;
  } */
  #content .menber-img{
      width: 60%;
  }
  
  .contact-form{
      margin-top: 32px;
     
  }
}
/* pc */
@media(min-width:64em)
        {
            /* css */
            
            
        }
   /* tabale && mobile*/
@media (max-width:63.9375em)
        {
           .btn{
               padding: 15px 16px;
           }
           .contact-sub-btn{
               font-size: 17px;
           }
           .contact-form .form-control{
               padding: 15px;
               font-size: 16px;
           }
           #footer .socials-list{
               font-size: 48px;
           }
           #footer .socials-list a{
               margin: 0 8px;
           }
           #footer .cpyright a{
               padding: 12px 0;
               display: inline-block;
           }
           #nav .subnav a{
               padding: 5px 12px;
           }
           .contact-info{
            line-height: 2;
        }
        }
        /* tabale */
        @media(min-width:46.25em) and (max-width:63.9375em)
        {

            
        }